
<div class="markdown-body">

	<ins class="adsbygoogle"
		 style="display:block; width:98%; height:300px;"
		 data-ad-client="ca-pub-9621153478142581"
		 data-ad-slot="7740497297"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
		<br/>
  {{ post.content }}
</div>
<br/>

<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-1ib0g6013cw1c" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

<br/>
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-9621153478142581"
		 data-ad-slot="8101667365"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
